ul {
    display: flex;
    flex-wrap: wrap;
}

.inputsearch {
    display: flex;
    border-radius: 10px;
    height: 30px;
}

.searchbtn {
    height: 30px;
}

.spansearch {
    display: flex;
    text-align: center;
    margin-left: 55%;
    align-items: center;
}

.filter{
    margin: 10px;
    background: black;
    color: white;
    height: 30px;
    border-radius: 10px;
}